<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Booking Information For: <%= @passenger.name %></h1>
    <p>
      You have successfully created a booking for the following flight:
      <br>
    </p>
    <p>
      <%= link_to "Flight", booking_url(@booking_id) %>
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>